---
import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";

import { getCollection, type CollectionEntry, getEntry } from "astro:content";
import { Image } from "astro:assets";
import BlogCard from "../../components/BlogCard.astro";
import { getEntries } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<"posts">;
}

const {entry} = Astro.props;
const { Content } = await entry.render();


const relatedPosts = entry.data.relatedPosts
  ? await getEntries(entry.data.relatedPosts)
  : [];


---


 

  <Content description />

  {
    relatedPosts.length > 0 && (
      <div class="post-wrapper">
        <h2>Related Posts</h2>
        <div>
          {relatedPosts.map((p) => (
            <BlogCard post={p} />
          ))}
        </div>
      </div>
    )
  }
  

<style></style>
