:root {
  /* colors */
  --light: #fff9ef;
  --dark: #553636;
  --accent: #fb8739;
  --hover: #ffcead;
  --hover-btn: #ffcead;
  --cc-dark: #271919;

  /* fonts */
  --size-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --size-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --size-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
  --size-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
  --size-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
  --size-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  --size-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);
  --size-7: clamp(4.0311rem, 3.36rem + 3.3555vw, 5.9605rem);

  /* flow */
  --space-s: clamp(1.125rem, 1.0795rem + 0.2273vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6193rem + 0.3409vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1591rem + 0.4545vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2386rem + 0.6818vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3182rem + 0.9091vw, 5rem);

  /* font family  */
  --sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --serif: Georgia, "Times New Roman", Times, serif;

  /* flow space*/

  /* Space 3xs: 5px → 5px */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  /* Space 2xs: 9px → 10px */
  --space-2xs: clamp(0.5625rem, 0.5302rem + 0.1379vw, 0.625rem);
  /* Space xs: 14px → 15px */
  --space-xs: clamp(0.875rem, 0.8427rem + 0.1379vw, 0.9375rem);
  /* Space s: 18px → 20px */
  --space-s: clamp(1.125rem, 1.0603rem + 0.2759vw, 1.25rem);
  /* Space m: 27px → 30px */
  --space-m: clamp(1.6875rem, 1.5905rem + 0.4138vw, 1.875rem);
  /* Space l: 36px → 40px */
  --space-l: clamp(2.25rem, 2.1207rem + 0.5517vw, 2.5rem);
  /* Space xl: 54px → 60px */
  --space-xl: clamp(3.375rem, 3.181rem + 0.8276vw, 3.75rem);
  /* Space 2xl: 72px → 80px */
  --space-2xl: clamp(4.5rem, 4.2414rem + 1.1034vw, 5rem);
  /* Space 3xl: 108px → 120px */
  --space-3xl: clamp(6.75rem, 6.3621rem + 1.6552vw, 7.5rem);



}





.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}




body {
  background: var(--light);
  color: var(--dark);
  font-size: var(--size-0);
  line-height: 1.7;
  letter-spacing: 0.5px;
  font-family: var(--sans);
}

h1 {
  font-size: var(--size-6);
  font-family: var(--serif);
  font-weight: 800;
}

.font {
  font-family: var(--serif);
}


