---
import { getCollection } from "astro:content";
import BlogCard from "../components/BlogCard.astro";
const posts = await getCollection("posts");
import BaseLayout from "../layouts/BaseLayout.astro";

const allBlogPosts = await getCollection("posts");

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Bloggin</h1>
  <p>All posts overview:</p>

  <!-- <a href="/posts/post-1/">Post 1</a> -->
  <div class="post-wrapper">
    <div>
      {posts.slice(0, 3).map((p) => <BlogCard post={p} />)}
    </div>
  </div>
</BaseLayout>

<style>
  .index-me {
    width: 300px;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
  }
</style>
