---
import BaseLayout from "../layouts/BaseLayout.astro";
import PrimaryBtn from "../components/PrimaryBtn.astro";
const pageTitle = "Nicole Heywood";
---

<BaseLayout pageTitle={pageTitle}>
  <article class="main-hero">
    <div class="title">
      <h1>Nicole <br /> Heywood</h1>
      <blockquote>
        Certified nerd, CSS enthusiast, book worm and bird lover
      </blockquote>
    </div>
    <img src="/img/me-intro.png" alt="image of the creator" class="index-me" />
  </article>
  <section class="buttons">
    <a href="/portfolio">
      <PrimaryBtn btnText="Portfolio" />
    </a>
    <a href="/contact">
      <PrimaryBtn btnText="Contact" />
    </a>
  </section>
</BaseLayout>

<style>
  .main-hero {
    display: grid;
    grid-template-columns: 1fr;

    align-items: center;
    gap: 4em;

    h1 {
      line-height: 1;
      position: relative;
    }
    h1::before {
      content: "";
      background-color: var(--accent);
      width: 30rem;
      height: 14rem;
      position: absolute;
      z-index: -1;
      rotate: -26deg;
      top: 1rem;
      left: -18rem;
    }

    .index-me {
      grid-row: 1;
      grid-column: 2;
      width: clamp(10rem, 8.2609rem + 8.6957vw, 15rem);
      border-radius: 50%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }

  .buttons {
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 2em;
  }
 
</style>
