---
import BaseLayout from "../layouts/BaseLayout.astro";


const pageTitle = "Portfolio"
---

<BaseLayout pageTitle={pageTitle}>
<h1>Portfolio</h1>

</BaseLayout>

<style>
.about-me {
	width: 300px;
	border-radius: 50%;
	aspect-ratio: 1;
object-fit: cover;
}

</style>