---
import BaseLayout from "../layouts/BaseLayout.astro";
import PortfolioCard from "../components/PortfolioCard.astro";

const pageTitle = "Portfolio";

---

<BaseLayout pageTitle={pageTitle}>
  <h1>Portfolio</h1>
<div class="wrapper">
  <PortfolioCard img="np.webp" altText="text" />
  <PortfolioCard img="np.webp" altText="text" />
</div>
</BaseLayout>

<style>
 .wrapper {
  padding: 3em 0 5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
 }
</style>
