---

---

<div class="wrapper-form">
  <h3>Or you could just message me here:</h3>

  <form
    class="feedback-form"
    data-netlify="true"
    netlify-honeypot
    name="feedback"
    method="POST"
    action="/success"
  >
    <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input name="bot-field" />
      </label>
    </p>
    <input type="hidden" name="form-name" value="feedback" />
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" />
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" required />
    <label for="feedback">Let's have a chat!</label>
    <textarea id="feedback" wrap="soft" name="feedback" required></textarea>
    <button type="submit">Submit</button>
  </form>
</div>

<style>
  .wrapper-form {
    display: grid;
    grid: 1fr/ 1fr;
    place-items: center;
  }
  .feedback-form {
    margin: 40px 40px;
    min-width: 250px;
    width: 45%;
    display: grid;
  }

  input,
  textarea {
    padding: 0.1em 0.5em;
    border: 1px solid var(--dark);
    font-size: inherit;
    margin: 0 0 clamp(1.5rem, 1.05rem + 1.92vw, 2.25rem);

    width: 100%;
  }
  button {
    background-color: var(--accent);
    border: none;
    padding: 0.5em 2em;
    font-weight: bold;
    letter-spacing: 0.5px;
    box-shadow: 5px 5px var(--dark);
    cursor: pointer;
    color: var(--cc-dark);
    place-self: end;
    width: fit-content;
    margin: clamp(1rem, 0.7rem + 1.28vw, 1.5rem) 0;
    &:hover {
      background-color: var(--hover-btn);
    }
  }

  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
