---
const { btnText, src, ariaLabel } = Astro.props;
---

<a href=`${src}` aria-label={ariaLabel}>{btnText}</a>

<style>
  a {
    background-color: var(--accent);
    border: none;
    padding: 0.5em 2em;
    font-weight: bold;
    letter-spacing: 0.5px;
    box-shadow: 5px 5px var(--dark);
    cursor: pointer;
    text-decoration: none;
    display: inline;
    place-self: end;
    color: var(--cc-dark);
  }

  a:hover {
    background-color: var(--hover-btn);
  }
</style>
