---
const comfortList = [
  "HTML5",
  "CSS",
  "JavaScript",
  "Astro.js",
  "Photoshop",
  "Illustrator",
  "Figma",
  "Procreate",
  "Responsive design",
  "Sustainability",
];

const experienceList = [
  "Wordpress",
  "After Effects",
  "InDesign",
  "Premier pro",
  "React.js",
  "Vue.js",
  "Lighthouse",
  "Sass",
];
---

<div class="wrapper">
  <h2>Toolbox</h2>
  <div class="list">
    <div class="comfort">
      <h3>My day-to-day comfort:</h3>
      <ul>
        {comfortList.map((list) => <li>{list}</li>)}
      </ul>
    </div>
    <div class="experience">
      <h3>I have experience with:</h3>
      <ul>
        {experienceList.map((list) => <li>{list}</li>)}
      </ul>
    </div>
  </div>
  <div class="lang">
    <svg
      width="147"
      height="108"
      viewBox="0 0 147 108"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M111.532 26.6192L110.43 15.2788L100.502 16.2437L101.605 27.584L96.348 28.0949L93.879 2.69116L99.1356 2.18027L100.077 11.8661L110.004 10.9013L109.063 1.21544L114.336 0.702881L116.805 26.1066L111.532 26.6192Z"
        fill="#FFF9EF"></path>
      <path
        d="M85.2413 23.903L75.8829 24.8125L74.6326 30.2054L69.083 30.7448L75.6794 4.45999L81.677 3.87707L93.1425 28.4064L87.3861 28.9659L85.2413 23.903ZM83.3337 19.6694L79.191 9.9816L76.8879 20.2959L83.3337 19.6694Z"
        fill="#FFF9EF"></path>
      <path
        d="M46.8287 7.26391L52.137 6.748L54.1621 27.5846L66.7433 26.3618L67.1872 30.929L49.2978 32.6677L46.8287 7.26391Z"
        fill="#FFF9EF"></path>
      <path
        d="M35.3894 34.0194L23.8767 35.1384L21.4077 9.73462L33.7477 8.53528C36.8658 8.27862 39.1595 8.96615 40.6287 10.5979C41.515 11.602 42.0313 12.8566 42.1775 14.3618C42.3283 15.9129 42.0588 17.1975 41.3691 18.2156C40.9838 18.7865 40.3873 19.3316 39.5795 19.8509C40.9236 20.1958 41.9728 20.8477 42.7271 21.8066C43.4929 22.7644 43.9467 23.9729 44.0886 25.4321C44.2348 26.9373 43.9869 28.3242 43.3447 29.5928C42.9392 30.4325 42.4008 31.1575 41.7294 31.7679C40.9739 32.4676 40.0501 32.9865 38.9579 33.3246C37.8773 33.6616 36.6878 33.8932 35.3894 34.0194ZM34.1817 22.8459L27.8566 23.4607L28.5149 30.2338L34.7538 29.6275C35.8683 29.5192 36.7212 29.2855 37.3127 28.9264C38.385 28.2655 38.8453 27.1537 38.6934 25.5911C38.565 24.2698 37.931 23.4152 36.7915 23.0272C36.1557 22.8106 35.2858 22.7502 34.1817 22.8459ZM36.3479 17.7467C36.997 17.2661 37.2697 16.4915 37.1659 15.423C37.0508 14.2395 36.5153 13.5029 35.5593 13.2131C34.7408 13.0259 33.7169 12.992 32.4875 13.1115L26.9035 13.6542L27.4479 19.2554L33.6868 18.6491C34.8013 18.5407 35.6883 18.24 36.3479 17.7467Z"
        fill="#FFF9EF"></path>
      <path
        d="M69.9445 105.729L72.7882 96.7984L64.9706 94.3091L62.1268 103.24L57.9873 101.922L64.3575 81.916L68.4971 83.2341L66.0683 90.8618L73.8859 93.3511L76.3147 85.7235L80.4678 87.0459L74.0976 107.051L69.9445 105.729Z"
        fill="#FFF9EF"></path>
      <path
        d="M50.9497 95.1513L43.58 92.8046L40.8861 96.4762L36.5159 95.0846L50.0251 77.3523L54.7483 78.8563L55.4628 101.118L50.9296 99.6743L50.9497 95.1513ZM50.8802 91.3323L50.8896 82.6652L45.8042 89.716L50.8802 91.3323Z"
        fill="#FFF9EF"></path>
      <path
        d="M27.3052 70.1177L31.4854 71.4488L26.2605 87.8576L36.1682 91.0125L35.023 94.6092L20.9349 90.1232L27.3052 70.1177Z"
        fill="#FFF9EF"></path>
      <path
        d="M9.98217 86.6356L0.915894 83.7487L7.28613 63.7432L17.0039 66.8375C19.4444 67.6545 20.9555 68.918 21.5371 70.6279C21.8816 71.6744 21.8651 72.7902 21.4876 73.9756C21.0987 75.1971 20.4784 76.0808 19.6269 76.6269C19.1505 76.9336 18.5228 77.1523 17.7438 77.2829C18.6481 77.9794 19.2299 78.8125 19.4892 79.782C19.7576 80.7544 19.7089 81.8151 19.3429 82.9643C18.9655 84.1496 18.3284 85.1177 17.4316 85.8685C16.8527 86.3718 16.2106 86.7454 15.5052 86.9891C14.7072 87.2732 13.8405 87.3659 12.9052 87.2674C11.979 87.1718 11.0046 86.9612 9.98217 86.6356ZM12.692 77.797L7.71095 76.2109L6.01251 81.5448L10.9257 83.1092C11.8033 83.3887 12.5239 83.4886 13.0874 83.409C14.1125 83.257 14.8209 82.5657 15.2127 81.3352C15.5441 80.2946 15.3419 79.443 14.6062 78.7802C14.1958 78.4103 13.5577 78.0826 12.692 77.797ZM15.9829 74.6444C16.6295 74.4915 17.0868 73.9943 17.3548 73.1529C17.6515 72.2209 17.4855 71.4904 16.8567 70.9613C16.2987 70.5544 15.5356 70.1968 14.5674 69.8885L10.17 68.4883L8.76545 72.8992L13.6786 74.4637C14.5563 74.7432 15.3244 74.8034 15.9829 74.6444Z"
        fill="#FFF9EF"></path>
      <path
        d="M143.028 57.0834L141.498 49.5258L134.882 50.8649L136.412 58.4226L132.909 59.1317L129.482 42.2017L132.985 41.4925L134.291 47.9476L140.907 46.6084L139.601 40.1533L143.115 39.4419L146.542 56.372L143.028 57.0834Z"
        fill="#FFF9EF"></path>
      <path
        d="M125.14 57.0815L118.904 58.344L118.437 62.0613L114.738 62.8099L117.353 44.6569L121.35 43.8478L130.772 59.5643L126.936 60.3408L125.14 57.0815ZM123.562 54.364L120.1 48.1301L119.266 55.2336L123.562 54.364Z"
        fill="#FFF9EF"></path>
      <path
        d="M98.1254 48.5488L101.663 47.8327L104.474 61.7191L112.859 60.0218L113.475 63.0656L101.552 65.4789L98.1254 48.5488Z"
        fill="#FFF9EF"></path>
      <path
        d="M92.2833 67.3552L84.6108 68.9083L81.1837 51.9783L89.4075 50.3136C91.4888 49.9242 93.0807 50.2277 94.1831 51.2241C94.8495 51.8384 95.2842 52.6472 95.4873 53.6503C95.6965 54.684 95.6044 55.5675 95.2108 56.3008C94.9911 56.7119 94.6274 57.1203 94.1197 57.526C95.0485 57.6648 95.8001 58.0307 96.3745 58.6239C96.9566 59.2155 97.346 59.9975 97.5429 60.97C97.7459 61.9731 97.6753 62.9239 97.3312 63.8226C97.1165 64.416 96.8044 64.9415 96.3949 65.3991C95.9349 65.9226 95.349 66.3361 94.6373 66.6396C93.9332 66.9415 93.1485 67.1801 92.2833 67.3552ZM90.6939 59.9172L86.4787 60.7705L87.3924 65.2844L91.5502 64.4428C92.293 64.2924 92.851 64.0759 93.2241 63.7931C93.9001 63.2736 94.1328 62.4932 93.922 61.4518C93.7437 60.5713 93.2575 60.04 92.4635 59.858C92.0204 59.7563 91.4306 59.7761 90.6939 59.9172ZM91.798 56.334C92.2016 55.9653 92.3313 55.425 92.1872 54.7128C92.0275 53.9241 91.6158 53.4655 90.9521 53.3368C90.3881 53.2676 89.6965 53.3159 88.8771 53.4818L85.1557 54.2351L85.9114 57.968L90.0692 57.1263C90.812 56.976 91.3882 56.7119 91.798 56.334Z"
        fill="#FFF9EF"></path>
    </svg>

    <p>I speak English, Swedish and Danish</p>
  </div>
</div>

<style>
  .wrapper {
    grid-column: main;
    height: 100%;
    color: var(--light);
    display: grid;
    grid: auto 1fr auto / 1fr;
  }

  h2 {
    grid-row: 1;
    grid-column: 1/-1;
    text-align: center;
    position: relative;
    margin: clamp(1.5rem, 1.05rem + 1.92vw, 2.25rem) 0 clamp(1.5rem, 1.05rem + 1.92vw, 2.25rem);

    &::after {
      content: "";
      width: 50%;
      height: 2px;
      background-color: var(--accent);
      position: absolute;
      bottom: -8px;
      left: 25%;
    }
  }

  .list {
    grid-row: 2;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2em;
    align-self: center;
    padding: clamp(2rem, 1.4rem + 2.56vw, 3rem) 0 clamp(2rem, 1.4rem + 2.56vw, 3rem);

    li {
      list-style: disc;
      list-style-position: inside;
    }

    > * {
      justify-self: center;
    }
  }

  .lang {
    place-self: center;
    padding: 1em 0 3em;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 2em;

    svg {
      width: fit-content;
    }

    p {
      align-self: center;
    }
  }
</style>
