---
import ContactForm from "./ContactForm.astro";
---

<div class="wrapper sec7 form">
  <h2>Contact</h2>

  <div class="links">
    <h3>I'm currently looking for internships in spring 2025!</h3>
    <p>
      You can have a look at my
      <a
        href="https://github.com/heyheynic"
        target="_blank"
        aria-label="Link to my GitHub account">Github</a
      >, or say hi to me on
      <a
        href="https://www.linkedin.com/in/heyheywood/"
        target="_blank"
        aria-label="Link to my Linkedin account">Linkedin</a
      >.
    </p>
  </div>
  <ContactForm />
</div>

<style>
  .wrapper {
    outline: solid 1px var(--dark);
    background-color: rgb(255, 255, 249);
    margin: clamp(0.5625rem, 0.3rem + 1.12vw, 1rem) 0;
    padding: 1em 1.5em;

    display: grid;
    grid: auto 1fr auto/ 1fr;
    justify-content: center;
  }

  h2 {
    text-align: center;
    position: relative;
    margin: clamp(1.5rem, 1.05rem + 1.92vw, 2.25rem) 0
      clamp(1.5rem, 1.05rem + 1.92vw, 2.25rem);

    &::after {
      content: "";
      width: 50%;
      height: 2px;
      background-color: var(--accent);
      position: absolute;
      bottom: -8px;
      left: 25%;
    }
  }

  .links {
    padding: clamp(0.5625rem, 0.3rem + 1.12vw, 1rem) 0
      clamp(2rem, 0.8rem + 5.12vw, 4rem);
    place-self: center;

    a {
      text-decoration: underline;
      text-decoration-color: var(--accent);
      text-decoration-thickness: 0.3ex;
      text-underline-offset: 0.4ex;

      &:hover {
        color: var(--accent);
        font-style: italic;
        text-decoration-thickness: 0.3ex;
      }
    }
  }
</style>

<script>
 import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  // Function to detect app browsers
  function isMobileBrowser() {
    return /android|iphone|ipad|ipod/i.test(
      navigator.userAgent || navigator.vendor
    );
  }

  // Apply class for mobile browsers
  const sec7 = document.getElementById("sec7");
  if (isMobileBrowser()) {
    sec7.classList.add("mobile");
  }

  // Only run animations if not on mobile
  if (!isMobileBrowser()) {
  //////// Phase one of scrolling, big text
  let tl = gsap.timeline({
    scrollTrigger: {
      trigger: ".sec7",
      start: "start center",

      end: "center center",
      scrub: true,

      // markers: true,
    },
  });

  tl.to(".sec7", { boxShadow: "10px 10px var(--dark)" });
}
</script>
