---
import PrimaryBtn from "./PrimaryBtn.astro";
import ResumePortfolioCard from "./ResumePortfolioCard.astro";
---

<div class="wrapper">
  <h2>Projects</h2>

  <div class="portfolio__cards">
    <ResumePortfolioCard img="bird-game.png" altText="hej" cardTitle="Birds in distress" cardDesc="This is a game I created in my first semester at KEA. The goal behind this were to get an understanding of Javascript, but also to plan a gameplay and create our own assets. " />

    <ResumePortfolioCard img="vild-mad.png" altText="hej" cardTitle="Vild Mad" cardDesc="" />

    <ResumePortfolioCard img="np-background.png" altText="hej" cardTitle="Nintendopusheren" cardDesc=""/>

    <ResumePortfolioCard img="first-portfolio02.png" altText="hej" cardTitle="First portfolio" cardDesc="" />

    <ResumePortfolioCard img="figma-code01.png" altText="hej" cardTitle="Figma to code" cardDesc=""/>
  </div>

  <div class="btn">
    <PrimaryBtn btnText="See more" src="/portfolio"/>
  </div>
</div>

<style>
  .wrapper {
    display: grid;
    grid: auto 1fr auto / 1fr;
    place-content: center;
    height: 100%;
  }

  h2 {
    text-align: center;
    position: relative;
    padding: 1em 0 0;

    &::after {
      content: "";
      width: 50%;
      height: 2px;
      background-color: var(--accent);
      position: absolute;
      bottom: -8px;
      left: 25%;
    }
  }

  .portfolio__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 2em 0;
    gap: 1em;

    > * {
      width: 100%;
    }

    /* Makes last child in case of odd number, span the grid columns furthest down */
    @media (min-width: 768px) {
      *:nth-child(odd):last-child {
        grid-column: span 2;
      }
    }
  }

  .btn {
    padding: 1em;
    place-self: end;
  }
</style>
