---

---

<style>
  .sec3 {
    display: grid;
    grid: auto/ auto;
    place-content: center;
    /* height: 200%; */
    font-size: clamp(
      2.625rem,
      1.4455rem + 5.8974vw,
      5.5rem
    ); /*  50px → 110px */
    line-height: 1.22;
  }
</style>

<div class="font sec3" id="sec3">
  <span>
    I want to create <em class="beautiful">beautiful</em>, <em
      class="sustainable">sustainable</em
    > and
    <em class="fun">fun</em> digital solutions
  </span>
</div>

<script>
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  //////// Phase one of scrolling, big text
  let tl = gsap.timeline({
    // top: "0%",
    scrollTrigger: {
      trigger: ".sec3",
      start: "top center",
      // end: ".sec4+=150%",
      endTrigger: ".sec2",
      end: "center+=100% center",
      scrub: true,
      pin: true,
      pinSpacing: true,
      markers: false,
    },
  });

  tl.fromTo(
    "#sec3",
    { opacity: 0, y: 200, scale: 0.5 },
    { opacity: 1, y: 0, scale: 1, duration: 2 }
  );

  /////// Phase two of scrolling, this animates the <em> inside the span
  let tlPhase2 = gsap.timeline({
    scrollTrigger: {
      trigger: ".sec3",
      start: "top+=45% center",
      end: "bottom center",
      scrub: true,
      // markers: true,
    },
  });

  tlPhase2
    .fromTo(
      ".beautiful",
      { color: "var(--dark)" },
      { color: "var(--accent)", duration: 0.5 }
    )
    .to(
      ".sustainable",
      { color: "var(--accent)", duration: 0.5 },
      "<+=0.3" // Starts 0.3 seconds after the previous animation
    )
    .to(
      ".fun",
      { color: "var(--accent)", duration: 0.5 },
      "<+=0.3" // Starts 0.3 seconds after the previous animation
    );
</script>
