---

---
<div class="wrapper">
  <div class="ground"></div>

</div>


<style>
   .ground {
      background-color: var(--dark);
      position: absolute;
      top: -0.5em;
      height: clamp(2.5rem, 2.3235rem + 0.8824vw, 2.875rem);
      width: 100%;

      z-index: -1;
    }
.wrapper{
    display: grid;
    grid: auto/ auto;
    place-content: center;
    height: 100dvh;
    position: relative;
    background-color: var(--dark);
  }
</style>
