---

---

<div class="font">playing</div>

<style>
  div {
    display: grid;
    grid: auto/ auto;
    place-content: center;
    height: 100dvh;
    position: relative;
    background-color: rgb(90, 69, 43);
  }
</style>
