---

---

<div class="font">
  I want to create beautiful, sustainable and fun digital solutions
</div>

<style>
  div {
    display: grid;
    grid: auto/ auto;
    place-content: center;
    height: 50svh;
    position: relative;

    font-size: clamp(2.625rem, 1.4455rem + 5.8974vw, 5.5rem); /*  50px → 110px */
    line-height: 1.22;
  }
</style>
