---
import ContactForm from "./ContactForm.astro";
---

<div class="wrapper">
  <h2>Contact</h2>

  <div class="links">
    <h3>I'm currently looking for internships in spring 2025!</h3>
    <p>
      You can have a look at my
      <a
        href="https://github.com/heyheynic"
        target="_blank"
        aria-label="Link to my GitHub account">Github</a
      >, or say hi to me on my
      <a
        href="https://www.linkedin.com/in/heyheywood/"
        target="_blank"
        aria-label="Link to my Linkedin account">Linkedin</a
      >.
    </p>
  </div>
  <ContactForm />
</div>

<style>
  .wrapper {
    display: grid;
    grid: auto 1fr auto/ 1fr;
    justify-content: center;
    height: 100%;
  }

  h2 {
    text-align: center;
    position: relative;
    padding: 1em 0 0;

    &::after {
      content: "";
      width: 50%;
      height: 2px;
      background-color: var(--accent);
      position: absolute;
      bottom: -8px;
      left: 25%;
    }
  }

  .links {
    padding: clamp(2rem, 0.8rem + 5.12vw, 4rem) 0;
    place-self: center;

    a {
      text-decoration: underline;
      text-decoration-color: var(--accent);
      text-decoration-thickness: 0.3ex;
      text-underline-offset: 0.4ex;

      &:hover {

        color: var(--accent);
        font-style: italic;
      text-decoration-thickness: 0.3ex;


      }
    }
  }
</style>
