---
import PrimaryBtn from "./PrimaryBtn.astro";
import ResumePortfolioCard from "./ResumePortfolioCard.astro";
---

<div class="wrapper sec6">
  <h2>Projects</h2>

  <div class="portfolio__cards">
    <ResumePortfolioCard img="figma-code01.png" altText="hej" cardTitle="Figma to code" cardDesc="In this assignment I had a week to try to code as much as possible from a proper figma prototype. It was so much fun and gave me a much better understanding of working component based. "/>

    <ResumePortfolioCard img="np-background.png" altText="A cluttered image filled with lots of handheld game devices, where it says 'Nintendopusheren'" cardTitle="Nintendopusheren" cardDesc="This company is run by pure love for the retro game industry, and the group I was working with got to try to give their brand a makeover. My main task was to redesign their logo, icons and database."/>

    <ResumePortfolioCard img="bird-game.png" altText="Illustration of colourful cats and doves" cardTitle="Birds in distress" cardDesc="This is a game I created in my first semester at KEA. The goal behind this was to get an understanding of Javascript, but also to plan a gameplay and create our own assets. " />

    <ResumePortfolioCard img="vild-mad.png" altText="Illustration of a small city" cardTitle="Vild Mad" cardDesc="In this assignment I got to work on the illustrations and database for the foraging company called Vild Mad, who wanted some help with creating engaging content for elementary students." />

   

    <!-- <ResumePortfolioCard img="first-portfolio02.png" altText="Screenshot from my first portfolio" cardTitle="First portfolio" cardDesc="This was the result after my first semester at KEA, and looking back at it, I feel it has managed to capture my love of  visuals and not being afraid to test the waters." /> -->


  </div>
<!-- !!!!!!!!! Add this again when entire website is done  -->
  <!-- <div class="btn">
    <PrimaryBtn btnText="See more on my portfolio" src="/portfolio" ariaLabel="Link to portfolio"/>
  </div> -->
</div>

<style>
  .wrapper {
    display: grid;
    grid: auto 1fr auto / 1fr;
    place-content: center;
    height: 100%;
  }


  h2 {
    text-align: center;
    position: relative;
    margin: clamp(1.5rem, 1.05rem + 1.92vw, 2.25rem) 0 clamp(1.5rem, 1.05rem + 1.92vw, 2.25rem);

    &::after {
      content: "";
      width: 50%;
      height: 2px;
      background-color: var(--accent);
      position: absolute;
      bottom: -8px;
      left: 25%;
    }
  }

  .portfolio__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(343px, 1fr));
    padding: 2em 0;
    gap: 1em;

    > * {
      width: 100%;
    }

    /* Makes last child in case of odd number, span the grid columns furthest down */
    @media (min-width: 768px) {
      *:nth-child(odd):last-child {
        grid-column: span 2;
      }
    }
  }

  .btn {
    padding: 1em;
    place-self: end;
  }
</style>
