---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/styles.css";
const { frontmatter } = Astro.props;
---

<Header />
<main>
  <h1>{frontmatter.title}</h1>
  <p>Written by {frontmatter.author}</p>
  <slot />
</main>
<Footer />

<style>
  header {
    border-bottom: solid var(--dark) 3px;
  }

  footer {
    > * {
      border-top: solid var(--dark) 3px;
    }
  }
</style>
