---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>('/src/content/portfolio/images/*.{jpeg,jpg,png,gif,webp}');

export async function getStaticPaths() {
  const portfolio = await getCollection("portfolio");
  return portfolio.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<"portfolio">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const imagePath = `/src/content/portfolio/images/${entry.data.img}`;
const imageImport = images[imagePath];


const image = await imageImport();

---


<BaseLayout>

  <h1>{entry.data.title}</h1>
  <Image src={image.default} alt={entry.data.altText} format="avif"/>
  <Content />

</BaseLayout>



<style>
  
</style>
